[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
django = "*"
install = "*"
requests = {extras = ["security"], version = "*"}
cryptography = "*"
certifi = "*"
scipy = "*"

[dev-packages]
ipykernel = "*"
